@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>There are many existing websites that cater to instructor assessment, yet none of these offer interactive assessment between teacher and student. In order to raise the standards of education, it’s important for both parties to be assessed, and it is best if this assessment can be ongoing throughout the course of the semester/school year. In this vein, we decided a student and teacher assessment website would be the perfect tool for educational institutions that are proactive about ongoing, interactive assessment and improvement of their classes.</p>
