@{
    ViewBag.Title = "Contact Us";
}


<h2>@ViewBag.Title</h2>

<address>
    Al Islam Chamber (2nd Floor)<br />
    91 Agrabad Commercial Area <br />
    Chittagong <br />
    Phone: 425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">hzm496@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nowrin_yasmin@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">tajbiaHossain@gmail.com</a>
</address>

